.editable-tags-field {
	display: flex;
	gap: 4px;
	justify-content: space-between;
	position: relative;
	padding-right: 8px;

	input {
		border-radius: 8px;
		flex: 1;
	}

	.edit-icon {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		background: white;
	}

	button {
		background: none;
		border: none;
		/* margin-left: auto; */
		border-radius: 8px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;

		&:disabled {
			background: #ddd;
		}
	}

	.edit-field-discard {
		background: #fff1f4;
	}

	.edit-field-save {
		background: #ebf8f6;
	}

	margin-bottom: 16px;
}
