.gallery-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.gallery-modal {
  background: white;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.gallery-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 5000;
}