.gallery-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;

	.gallery-content {
		position: relative;
		max-width: 90%;
		max-height: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.gallery-main-image {
		max-width: 100%;
		object-fit: contain;
		/* transition:
		transform 0.3s ease,
		opacity 0.3s ease; */

		&.slide-left {
			animation: slide-out-to-left 1s forwards;
		}
		&.slide-right {
			animation: slide-out-to-right 1s forwards;
		}
	}

	.gallery-next-image {
		position: absolute;
		z-index: -1;
		max-width: 100%;
		object-fit: contain;

		&.slide-left {
			animation: slide-in-from-right 1s forwards;
		}
		&.slide-right {
			animation: slide-in-from-left 1s forwards;
		}
	}

	.gallery-close-btn {
		position: absolute;
		top: 20px;
		right: 20px;
		background: transparent;
		border: none;
		cursor: pointer;
		z-index: 10001;
		opacity: 0.8;
		transition: opacity 0.2s;
	}

	.gallery-close-btn:hover {
		opacity: 1;
	}

	.gallery-nav-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: transparent;
		border: none;
		cursor: pointer;
		z-index: 10000;
		opacity: 0.7;
		transition: opacity 0.2s;
	}

	.gallery-nav-btn:hover {
		opacity: 1;
	}

	.gallery-nav-btn.left {
		left: 20px;
	}

	.gallery-nav-btn.right {
		right: 20px;
	}

	.gallery-counter {
		margin-top: 15px;
		color: white;
		font-size: 1.1rem;
		font-weight: 500;
		font-family: sans-serif;
	}

	/* Mobile Adjustments */
	@media (max-width: 768px) {
		.gallery-nav-btn.left {
			left: 5px;
			display: block;
		}
		.gallery-nav-btn.right {
			right: 5px;
			display: block;
		}

		.gallery-main-image,
		.gallery-next-image {
			max-width: 100vw;
		}
	}
}

@keyframes slide-out-to-left {
	0% {
		translate: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		translate: -100%;
		opacity: 0;
	}
}

@keyframes slide-out-to-right {
	0% {
		translate: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		translate: 100%;
		opacity: 0;
	}
}

@keyframes slide-in-from-left {
	0% {
		translate: -100%;
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		translate: 0;
	}
}

@keyframes slide-in-from-right {
	0% {
		translate: 100%;
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		translate: 0;
	}
}
