.navbar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	border-top: 2px solid var(--color-primary);
	background: white;

	a {
		width: 100%;
		text-align: center;
		padding: 8px;
		border-radius: 8px;
		text-decoration: none; /* Remove underline from links */
		color: var(--color-accent);
		transition: all 100ms ease;

		svg {
			display: block;
			margin: auto;
		}

		&:active {
			scale: 0.75;
		}

		&.active {
			color: var(--color-primary);
		}
	}
	box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1); /* Shadow color following the CSS var (don't think the current primary colour is a good candidate): hsl(from var(--color-primary) h s l / 0.1); */
}
