/* #root {
	display: flex;
	flex-direction: column;
	gap: auto;
} */

.decision-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.decision-wheel-button {
	margin-bottom: 24px;
}

.decided-place-popup {
	border: none;
	border-radius: 16px;

	> * {
		margin-block: 16px;
		text-align: center;
	}

	img {
		border-radius: 4px;
		width: 100%;
		height: auto;
	}

	.decided-place-name {
		font-size: 36px;
		font-weight: bold;
	}

	&::backdrop {
		backdrop-filter: blur(8px);
		background-color: rgba(0, 0, 0, 0.25);
	}
}
