:root {
	height: 100%;
	background-color: white;
	overflow-x: hidden;

	/* CSS vars */
	--color-primary: #0072b2;
	--color-accent: #9ad2f2;
	--color-neutral: #000000;

	/* Legacy colors for backward compatibility */
	--soft-mint-green: #d1e8e2;
	--deep-teal: #19747e;
	--light-sky-blue: #a9d6e5;
	--light-gray: #e2e2e2;
}

body {
	height: 100%;
	margin: 0;
	background-color: white;
	overflow-x: hidden;
}

#root {
	height: 100%;
	padding: 0 16px;
	max-width: 400px;
	margin: auto;
	background-color: white;
	position: relative;
	overflow-x: hidden;
}

.section-title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 16px;
}

/* More realistic loading spinner with 2 overlapping rotations with different speed & easings */

@keyframes spin1 {
	to {
		rotate: 360deg;
	}
}

@keyframes spin2 {
	to {
		transform: rotate(360deg);
	}
}

.spin-loader {
	animation:
		spin1 1s ease-in-out infinite,
		spin2 2s linear infinite;
}
