:root {
	height: 100%;

	/* CSS vars */
	--color-primary: #0072b2;
	--color-accent: #9ad2f2;
	--color-neutral: #000000;

	/* Legacy colors for backward compatibility */
	--soft-mint-green: #d1e8e2;
	--deep-teal: #19747e;
	--light-sky-blue: #a9d6e5;
	--light-gray: #e2e2e2;
}

html {
	height: 100%;
	overflow-x: hidden;
	background-color: white;
}

body {
	height: 100%;
	margin: 0;
	background-color: white;
	overflow-x: hidden;
}

#root {
	height: 100%;
	padding: 0 16px;
	max-width: 400px;
	margin: auto;
	background-color: white;
	position: relative;
	overflow-x: hidden;
}

.section-title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 16px;
}
